.dashboard-container {
  margin-top: 20px;  // Üstten boşluk
  padding: 10px;     // İçerik dolgusu
  background-color: rgb(245,155,39);
  border-radius: 8px;  // Köşe yuvarlatma
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);  // Hafif gölge
}

.chart-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;  // Genişlik
  overflow: hidden;  // Taşma kontrolü
  margin-top: 20px; // Üstten boşluk


}
