/* src/app/login/login.page.scss */
.login-container {
    display: flex;
    flex-direction: column; /* Dikey hizalama */
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
  }
  
  .login-logo {
    width: 150px; /* Logonun genişliği */
    height: auto; /* Oranını koruyarak yüksekliği ayarlar */
    margin-bottom: 20px; /* Logo ile form arasındaki boşluk */
  }
  
  ion-card {
    width: 100%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Ortalamak için */
  }
  